extends ../layout
block corpo
    #tabela-selecao
        h1.page-header {{name}}
        .row
            h3.sub-header Classes
            .row.placeholders
                custom-table-waterfall(
                    v-if="ready"

                    filter-on="true"
                    pages-on="true"

                    :header="tableHeader"
                    :complete-rows="tableData"
                    :sub-ready="subReady"
                    :cwidth="cwidth"
                    :n-edits="nEdits"
                    
                    table-class='table table-hover'
                    
                    @row-clicked="rowClicked($event)"
                    @drop-clicked="dropClicked($event)"
                )
                h4(
                    v-else
                ) A carregar...
        
    //-
append scripts    
    script(src="/javascripts/tabsSel/consulta.vue")