extends ../layout
block corpo 
    center
        table.table.tabela-navegacao( style="width:400px")
            tr
                td(colspan="2")
                    .labelbox
                        | Indique o tipo de Tabela de Seleção
            tr
                td
                    a(href="/tabelasSelecao/submeter/passos")
                        .linkbox(style="margin-bottom:0px")
                            | Tabela Organizacional
            tr
                td
                    a(href="#")
                        .linkbox(style="margin-bottom:0px")
                            | Tabela Pluriorganizacional