extends ../layout
block corpo
    h1.page-header Entidades
    .row
        #tabela-organizacoes.row.placeholders
            custom-table-simple(
                v-if="ready"

                :header="tableHeader"
                :complete-rows="tableData"
                :ready="ready"
                :cwidth="cwidth"
                
                class-table='table table-hover'

                @row-clicked="rowClicked($event)"
                @add-clicked="addOrg"
            )
            h4(
                v-else
            ) A carregar...    
    //-

append scripts    
    script(src="/javascripts/orgs/listagem.vue")