extends ../layout
block corpo
    .titlebox(style="width:40%")
        | Entidades

    table
        tr
            td(valign="top")
                .infobox
                    b Indicação dos representantes das Entidades utilizadoras dos serviços CLAV (Funcionalidade a disponibilizar em breve)
                | É necessário que a Entidade identifique os seus representantes antes destes se registarem.
            
            td(valign="top")
                .textbox
                    | Para identificar os representantes que utilizarão os serviços CLAV a 
                    //-| entidade deve preencher <a href="/organizacoes/questionario">este questionário</a> e remetê-lo, por via postal ou eletrónica, para:
                    | entidade deve preencher <a href="#">este questionário</a> e remetê-lo, por via postal ou eletrónica, para:
                    ul 
                        li DGLAB, Edificio da Torre do Tombo, Alameda da Universidade, 1649-010 Lisboa
                        li clav@dglab.gov.pt
                    | Remeta ainda a <a href="#">declaração de autorização</a> de processamento de dados pessoais do representante da 
                    | entidade, para efeitos de utilização da plataforma.

append scripts    
    //script(src="/javascripts/classes/listagem.vue")