extends ../layout
block corpo
    .container
        form#registo.form-signin(action="/auth/registar" method="post" style="width:60%")
            h2.form-signin-heading Registar
            
            select#type(name="type" form="registo")
                option(value="7") Administrador de Perfil Tecnológico
                option(value="6") Administrador de Perfil Funcional
                option(value="5") Utilizador Validador
                option(value="4") Utilizador Avançado
                option(value="3") Utilizador Decisor
                option(value="2" Selected="true") Utilizador Simples
                option(value="1") Representante Entidade
            
            label.sr-only(for='name') Nome
            input#name.form-control(name='name' type='text', placeholder='Nome Apelido', required='', autofocus='')
            
            label.sr-only(for='email') Email
            input#email.form-control(name='email' type='email', placeholder='Email', required='')
            
            label.sr-only(for='password') Password
            input#password.form-control(name='password' type='password', placeholder='Password', required='')
            
            label.sr-only(for='password2') Repetir Password
            input#password2.form-control(name='password2' type='password', placeholder='Repetir Password', required='')
            
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Registar

    .infobox
        b Após a fase de testes só será aceite o registo de representantes indicados pelas entidades. Para mais detalhes, consulte <a href="http://clav.di.uminho.pt/organizacoes/registo_entidade">http://clav.di.uminho.pt/organizacoes/registo_entidade</a>

        if errors
            each error in errors
                h2(style="margin: 2px")
                    span.label.label-danger(style="background-color: #c71c2294")
                        | #{error.msg}
