extends ../layout
block corpo
    h1.page-header Legislação
    .row
        #tabela-legislacoes.row.placeholders
            custom-table-simple(
                v-if="ready"

                :header="tableHeader"
                :complete-rows="tableData"
                :ready="ready"
                :cwidth="cwidth"
                
                class-table='table table-hover'

                @row-clicked="rowClicked($event)"
                @add-clicked="addLeg"
            )
            h4(
                v-else
            ) A carregar...
        
    //-
append scripts    
    script(src="/javascripts/leg/listagem.vue")